
@{
    ViewBag.Title = "Employee List";
}

<!--<h2 class="main-title">Emloyee CRUD Operations</h2>-->
    <div class="jumbotron" style="padding:5px;margin-bottom:0px">
        <h1 class="display-6">Emloyee CRUD Operations</h1>
    </div>

<a class="btn btn-success" style="margin-top:10px; margin-bottom:10px; color:#fff" onclick="PopupForm('@Url.Action("AddOrEdit","Emloyee")')"><i class="fa fa-plus"></i> Add new</a>
<table id="employeeTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Salary</th>
            <th></th>
        </tr>
    </thead>
</table>

<link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

@section scripts{
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            dataTable = $("#employeeTable").DataTable({
                "ajax": {
                    "url": "/Emloyee/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Name" },
                    { "data": "Position" },
                    { "data": "Office" },
                    { "data": "Age" },
                    { "data": "Salary" },
                    {
                        "data": "EmployeeID", "render": function (data) {
                            return "<a class='btn btn-light btn-sm' onclick=PopupForm('@Url.Action("AddOrEdit","Emloyee")/" + data + "')><i class='fa fa-pencil'></i> Edit</a> <a class='btn btn-danger btn-sm' style='margin-left:5px; color:#fff;' onclick=Delete(" + data + ")><i class='fa fa-trash'</i> Delete</a>"
                        },
                        "orderable": false,
                        "searchable" : false,
                        "width":"150px"
                    }
                ],
                "language": {
                    "emptyTable": "No data found, please add something by clicking on the button <b>Add New</b>"
                }
            });
        });

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);
                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: 'Fill Emloyee Details',
                        height: 600,
                        width: 450,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }
                    });
                });
        };

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className : "success"
                            })
                        }
                    }
                });
            }
            return false;
        }

        function Delete(id) {
            if (confirm('Are You Sure to Delete this Emloyee Record? '))
            {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete","Emloyee")/' + id,
                    success: function (data) {
                        if (data.success)
                        {
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className : "success"
                            })
                        }
                    }
                });
            }
        }

    </script>
}

